body {
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

@keyframes moveUp {
    to {
        transform: translateY(-100px);
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes moveDown {
    to {
        transform: translateY(100px);
        opacity: 0;
        pointer-events: none;

    }
}

@keyframes showDirection {
    to {
        transform: translateY(30px);
    }
}

.dots {
    display: grid;
    grid-template: repeat(11, 1fr) / repeat(9, 1fr);
    align-items: center;
    justify-items: center;
    width: 225px;
    height: 250px;

    @media (min-width: 768px) {
        width: 450px;
        height: 500px;
    }
}

.dots__dot {
    background: #fff;
    border-radius: 50%;
    animation: moveUp 1s 2s ease-out forwards; 
    width: 7.5px;
    height: 7.5px;

    @media (min-width: 768px) {
        width: 15px;
        height: 15px;
    }
}

.dots__dot--stable {
    animation: showDirection 2s 3s ease-in-out alternate infinite;
}